<footer class="page-footer font-small blue pt-4">

  <div class="container-fluid text-center text-md-left">

    <div class="row">

      <div class="col-md-6 mt-md-0 mt-3">

         <img style=" " alt="Logo" src="assets/apside.png" class="pull-left"><br>
  
       <p> Depuis 40 ans, le Groupe Apside collabore aux projets informatiques et scientifiques des grands groupes français et européens.
Nos interventions : le conseil et l’ingénierie en systèmes d'information et informatique technique, scientifique, automobile et financière.</p>
 </div>

      <hr class="clearfix w-100 d-md-none pb-3">

      <div class="col-md-3 mb-md-0 mb-3">


          <ul class="list-unstyled">
            <li>
              <a href="#!"> </a>
            </li>
         
          </ul>

        </div>
    
        <div class="col-md-3 mb-md-0 mb-3">

   
          <h5 class="text-uppercase">Liens</h5>

          <ul class="list-unstyled">
            <a href="https://www.facebook.com/ApsideGroupe/" class="fa fa-facebook"></a>
            <a href="https://twitter.com/ApsideGroupe" class="fa fa-twitter"></a>
            <a href="https://www.linkedin.com/company/apside" class="fa fa-linkedin"></a>
            <a href="https://www.youtube.com/channel/UCbiikaJFlC4lB1TtlRYLoOw" class="fa fa-youtube"></a>
            <a href="https://fr.viadeo.com/fr/company/apside" class="fa fa-viadeo"></a>
          </ul>
        </div>
    </div>
  </div>
  <div class="footer-copyright text-center py-3"> <b>Apside</b> © Copyright 2019. All rights reserved.
  </div>
</footer>
