
footer {
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    text-align: center;
    background-color:#183650 !important;
    color:white;
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    color: white;

}
.fa:hover{

 color: #c2c2c2;
}

img{
    width:10%;
max-height: auto;}