<div class="container">
  <div class="row">
    <div class="column">
     <span  *ngIf="keycloakAuth.authenticated">Bonjour {{ displayUserInfo() }}</span>
      <div class="jumbotron">
        <p>Récupération de la donnée du endpoint non sécurisé</p>
        <div class="lead">
          <a class="btn btn-primary btn-lg" (click)="getUnsecuredData()" role="button">Data non sécurisé</a>
          <div class="card" *ngIf="unsecuredLoaded">
            <div class="card-body">
              <h5 class="card-title">Response</h5>
              <p class="card-text" *ngIf="!unsecuredError">{{ unsecureData }}</p>
              <p class="card-text" *ngIf="unsecuredError">Code retour: {{ unsecuredErrorResponse.status }} - message: {{ unsecuredErrorResponse.message }}</p>
            </div>
          </div>
        </div>
        <hr class="my-4">
        <p>Récupération de la donnée du endpoint user sécurisé</p>
        <div class="lead">
          <a class="btn btn-primary btn-lg" (click)="getUserData()" role="button">Data User</a>
          <div class="card" *ngIf="userLoaded">
            <div class="card-body">
              <h5 class="card-title">Response</h5>
              <p class="card-text" *ngIf="!userError">{{ userData }}</p>
              <p class="card-text" *ngIf="userError">Code retour: {{ userErrorResponse.status }} - message: {{ userErrorResponse.message }}</p>
            </div>
          </div>
        </div>
        <hr class="my-4">
        <p>Récupération de la donnée du endpoint admin sécurisé</p>
        <div class="lead">
          <a class="btn btn-primary btn-lg" (click)="getAdminData()" role="button">Data Admin</a>
          <div class="card" *ngIf="adminLoaded">
            <div class="card-body">
              <h5 class="card-title">Response</h5>
              <p class="card-text" *ngIf="!adminError">{{ adminData }}</p>
              <p class="card-text" *ngIf="adminError">Code retour: {{ adminErrorResponse.status }} - message: {{ adminErrorResponse.message }}</p>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>