<nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
  <a class="navbar-brand" href="#"><img style=" " alt="Logo" src="assets/apside.png" class="pull-left"></a>
  

  <button class="navbar-toggler" type="button"
  (click)="toggleNavbar()">
<span class="navbar-toggler-icon"></span>
</button>
  
 
  <div class="collapse navbar-collapse"
       [ngClass]="{ 'show': navbarOpen }">  
         <ul class="navbar-nav mr-auto">

        
          <li class="nav-item"><a class="nav-link" routerLink="/accueil">Accueil</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="/dashboard">Dashboard</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="/unitaire">Unitaire</a></li>

          <li class="nav-item"><a class="nav-link" routerLink="/connexion" (click)="login()">Connexion</a></li>
 <!--          <li class="nav-item"><span *ngIf="isAdmin() || isUser(); else loggedOut"><a routerLink="" (click)="logout()">Déconnexion</a></span></li>
-->

</ul> 

</div>
</nav>
<router-outlet></router-outlet>
