.container {
    position: relative;
    float:none; 
    margin: 0 auto;
    margin-top: 10%;
    margin-bottom: 10%;

}


h2{
    padding:10%;
    color:#343a40;
}
.btn-secondary {
    color: #fff;
    background-color: #183650;
    border-color: #183650;
margin-right:5px;}