

<div class="container w">
    <div class="row centered">
      <br><br>
      <div class="col-lg-12">
          <h1 class="text-center" >Unitaire </h1>
<div class="block">
  <h4>Titre :  </h4><h4>Date :  </h4>
  <h4>Client :</h4>
  <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even believable.</p>
<a href="http://localhost:4200/unitaire-detail" >  <button type="button" class="btn btn-secondary">Unitaire détails</button></a>

<hr>
</div>
<div class="block">

<h4>Titre :  </h4><h4>Date :  </h4>
<h4>Client :</h4>
  <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even believable.</p>
<a href="http://localhost:4200/unitaire-detail" >  <button type="button" class="btn btn-secondary">Unitaire détails  </button></a>
<hr></div>

<div class="block">

<h4>Titre :  </h4><h4>Date :  </h4>
<h4>Client :</h4>
  <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even believable.</p>
<a href="http://localhost:4200/unitaire-detail" >  <button type="button" class="btn btn-secondary">Unitaire détails  </button></a>
<hr></div>

<div class="block">

<h4>Titre :  </h4><h4>Date :  </h4>
<h4>Client :</h4>
  <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even believable.</p>
<a href="http://localhost:4200/unitaire-detail" >  <button type="button" class="btn btn-secondary">Unitaire détails  </button></a>
<hr></div>

<div class="block">

<h4>Titre :  </h4><h4>Date :  </h4>
<h4>Client :</h4>
  <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even believable.</p>
<a href="http://localhost:4200/unitaire-detail" >  <button type="button" class="btn btn-secondary">Unitaire détails  </button></a>
</div>

</div>
 </div>
</div>


  <nav aria-label="Page navigation example">
      <ul class="pagination pg-blue">
        <li class="page-item disabled">
          <a class="page-link" tabindex="-1" mdbWavesEffect>Previous</a>
        </li>
        <li class="page-item"><a class="page-link" mdbWavesEffect>1</a></li>
        <li class="page-item active">
          <a class="page-link" mdbWavesEffect>2 <span class="sr-only">(current)</span></a>
        </li>
        <li class="page-item"><a class="page-link" mdbWavesEffect>3</a></li>
        <li class="page-item">
          <a class="page-link" mdbWavesEffect>Next</a>
        </li>
      </ul>
    </nav>

    