.container {
    position: relative;
    float:none; 
    margin: 0 auto;
    margin-top: 10%;
    margin-bottom: 10%;

}


h1, h2{
    color:#183650;
}
.btn-secondary {
    color: #fff;

text-align: center;}

.list-group{
    text-align:center;
}

.page-item.active .page-link{
    background-color: #183650;
    border-color: #183650;
    
}
.pagination{
    margin:auto;
    padding-bottom:10px;
    top: 50%; left: 50%;
    position: relative;
}