 <h1 class="text-center" >Dashboard </h1>
  <div class="habbitpage"  >
 <div class="col-md-12">
        <div class="row">
                <div class="col-md-6">                
    <h5 class="text" >Technologies :</h5><br>
        <ul class="list-group">
          <li *ngFor="let techno of dashboard" 
          class="list-group-item list-group-item-action" 
          [class.active]="dashboard === selectedTechno"
          (click)="onSelect(techno)">
            <span>{{dashboard.techno}}</span> 
          </li>
        </ul>
    </div>
</div>
</div>

<div class="col-md-12">
        <div class="row">
                <div class="col-md-6">               

    <h5 class="text" >Poste : </h5><br>
    <ul class="list-group">
        <li *ngFor="let poste of dashboard" 
        class="list-group-item list-group-item-action" 
        [class.active]="dashboard === selectedPoste"
        (click)="onSelect(poste)">
          <span>{{dashboard.poste}}</span> 
        </li>
      </ul>
    </div>

    <div class="col-md-6">               

    
    <h5 class="text" >Localisation : </h5><br>
    <ul class="list-group">
        <li *ngFor="let Localisation of dashboard" 
        class="list-group-item list-group-item-action" 
        [class.active]="dashboard === selectedPoste"
        (click)="onSelect(localisation)">
          <span>{{dashboard.localisation}}</span> 
        </li>
      </ul>
    </div>
</div>
</div>
<div class="col-md-12">
        <div class="row">
                <div class="col-md-6">
    <h5 class="text" >Client : </h5><br>
    <ul class="list-group">
        <li *ngFor="let Localisation of dashboard" 
        class="list-group-item list-group-item-action" 
        [class.active]="dashboard === selectedClient"
        (click)="onSelect(client)">
          <span>{{dashboard.client}}</span> 
        </li>
      </ul>

    </div>
    <div class="col-md-6">

<h5 class="text" >Du : </h5><h5 class="text" >Au : </h5>
</div>
</div>


    <div class="canvas">
      <canvas
          baseChart
          [chartType]="'line'"
          [datasets]="chartData"
          [labels]="chartLabels"
          [options]="chartOptions"
          [legend]="true"
          [colors]="charColor"
          (chartClick)="onChartClick($event)">
          
      </canvas><button type="button" class="btn btn-secondary" (click)="newDataPoint([900, 50, 300], 'May')">
Ajouter un point      </button>
    </div>