body {
    background-color: #f2f2f2;
    font-family: Arial,Verdana,Helvetica,Sans-serif;    font-weight: 300;
    font-size: 16px;
    color: #555;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
    margin-top: 70px;

  }
  
  /* Titles */
  
  h1, h2, h3, h4, h5, h6 {
    font-family: Arial,Verdana,Helvetica,Sans-serif;     font-weight: 300;
    color: #333;
  }
  
  /* Paragraph & Typographic */
  
  p {
    line-height: 28px;
    margin-bottom: 25px;
  }
  
  .centered {
    text-align: center;
  }
  
  /* Links */
  
  a {
    color: #f85c37;
    word-wrap: break-word;
    transition: color 0.1s ease-in, background 0.1s ease-in;
  }
  
  a:hover, a:focus {
    color: #7b7b7b;
    text-decoration: none;
    outline: 0;
  }
  
  a:before, a:after {
    transition: color 0.1s ease-in, background 0.1s ease-in;
  }
  
  hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
  }
  
  /*TILT*/
  
  .tilt {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  
  .tilt:hover {
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }
  
  /* ==========================================================================
     Wrap Sections
     ========================================================================== */
  
  #headerwrap {
    background: url(/assets/header-bg.jpg) no-repeat center top;
    margin-top: -10px;
    padding-top: 20px;
    text-align: center;
    background-attachment: relative;
    background-position: center center;
    min-height: 500px;
    width: 100%;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  
  #headerwrap h1 {
    margin-top:200px;
    color: white;
    font-size: 30px;
    font-weight: 200;
    letter-spacing: 3px; 
  }
  
  #headerwrap h2 {
    color: white;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  p {
    font-family: Lato;
  }
  @media (max-width: 768px ) {
    #headerwrap h1 {
    }
  
    #headerwrap h2 {
      font-size: 30px;
    }
  }
  
  /* Dark Grey Wrap */
  
  #dg {
    background: #e0e0e0;
    padding-top: 70px;
    padding-bottom: 70px;
    text-align: center;
  }
  
  #dg h4 {
    font-weight: 700;
  }
  
  /* Light Grey */
  
  #lg {
    background: #ebebeb;
    padding-top: 70px;
    padding-bottom: 70px;
    text-align: center;
  }
  
  #lg h4 {
    font-weight: 700;
  }
  
  /* Red Wrap */
  
  #r {
    background: #ff7878;
    padding-top: 35px;
    padding-bottom: 35px;
  }
  
  #r h4 {
    color: white;
    font-weight: 700;
  }
  
  #r p {
    color: white;
  }
  
  /* Blue Wrap */
  
  #blue {
    background: #3498db;
    padding-top: 35px;
    padding-bottom: 35px;
  }
  
  #blue h4 {
    color: white;
    font-weight: 700;
  }
  
  #blue p {
    color: white;
  }
  
