
  <div id="headerwrap">
    <div class="container">
      <div class="row centered">
        <div class="col-lg-8 col-lg-offset-2">
          <h1>ITRANSFORMATION NUMÉRIQUE
            INGÉNIERIE S.I.
            INGÉNIERIE INDUSTRIELLE</h1>
        </div>
      </div>
    </div>
  </div>

  <div class="container w">
    <div class="row centered">
      <br><br>
      <div class="col-lg-4">
        <i class="fas fa-play"></i>


        <h4>Connexion</h4>
        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even believable.</p>
        <a href="http://localhost:4200/connexion" >  <button type="button" class="btn btn-secondary">Connexion</button></a>

      </div>

      <div class="col-lg-4">
        <i class="fa fa-laptop"></i>
        <h4>Flux appels d'offres</h4>
        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even believable.</p>
        <a href="http://localhost:4200/flux" >  <button type="button" class="btn btn-secondary">Flux</button></a>

     
      </div>

      <div class="col-lg-4">
        <i class="fa fa-trophy"></i>
        <h4>SUPPORT</h4>
        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even believable.</p>
        <a href="http://localhost:4200/flux" >  <button type="button" class="btn btn-secondary">Flux</button></a>

      </div>

    </div>
    <br>
    <br>
  </div>
x
  <div class="container wb">
    <div class="row centered">
      <br><br>
      <div class="col-lg-12 ">
        <h4>Les AO en direct</h4>
        <div style="display: block;">
          <canvas baseChart 
            [data]="pieChartData" 
            [labels]="pieChartLabels" 
            [chartType]="pieChartType"
            [options]="pieChartOptions"
            [colors]="pieColor"
            [plugins]="pieChartPlugins"
            [legend]="pieChartLegend">
          </canvas>
        </div>
        
      </div>
    
    </div>
  </div>

  <div id="lg">
    <div class="container">
      <div class="row centered">
        <h4>Connectez vous à votre compte</h4>
        <div class="col-lg-2 col-lg-offset-1">
          <button type="button" class="btn btn-secondary">Connectez vous</button>
        </div>
      </div>
    </div>
  </div>
